<!DOCTYPE html>
<html>
	<head>
			<title>ReBrew</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="css/nav.css">
	<meta name="viewport" content="width=device-width" />


</head>
<body>
	<div class="stickyNav">
	
		<a href="/"><div id="circle"><img src="images/ipa.png"/></div></a>
		
		<div id="title">ReBrew</div>
	
		<form action="/search">
			<input  class="form-control" type="text" name="searchBeer"placeholder="Search Beer"></input>
			<button type="submit" class="btn btn-default">Search</button>
		</form>
	
	</div>
	
	
		<div id='craftbeers'>There was an error with your search. Please Try again</div><br>
	    
	    <form class="responsive-form" action="/search">
			<input  class="form-control" type="text" name="searchBeer"placeholder="Search Beer"></input>
			<button type="submit" class="btn btn-default">Search</button>
		</form>
	
	
	
	
		
	</body>
</html>