html{height:100%;}
body{
	background-image:url('/images/beerflight.png');
	background-repeat:no-repeat;
	background-size:100% 100%;
}
#craftbeers{
	font-family: 'Raleway', sans-serif;
	font-size:5em;
	color:white;
	padding-top:20%;
	width:90%;
	margin:auto;
	text-align:center;

}
.search{
	border:solid red;
	margin:0 auto;
	margin-top:30%;
	width:50%;

}
form{
	width:50%;
	margin:0 auto;
}

#rock{
	height:800px;
	border:solid green;
	width:60%;
}
.responsive-form{
	display:none;
}


@media screen and (max-width:480px){
	#craftbeers{
		font-size:2em;
		margin-top:50%;
		padding-top:0;
	}

	.responsive-form{
		display:block;
		width:100%;
		margin-top:5%;
		text-align:center;
	}
	
}

@media (min-width:480px) and (max-width:860px){
	#craftbeers{
		font-size:3em;
		margin-top:50%;
		padding-top:0;
	}

	.responsive-form{
		display:block;
		width:100%;
		margin-top:5%;
		text-align:center;
	}
	
}