form{
	float:right;
	width:40%;
	margin-top:-70px;
}
input[type="text"]{
	width:60%;
	display:inline;
}

ul{
	padding-top:200px;
	width:80%;
	margin:0 auto;
	border:solid;
}
li{
	display:block;
	padding-bottom:50px;
	list-style:none;
	border:solid thin lightgrey;
	width:90%;
	margin:0 auto;
}
li a{
	text-decoration:none;
	color:grey;
}
li a:hover{
	cursor:pointer;
	text-decoration:none;
}
li div{
	display:none;
}
li img{
	max-width:10%;
	border-radius:100%;
	border:solid thin lightgrey;
}
.clear{clear:both;}
.aboutBeer img{
	max-width:30%;
	border-radius:100%;
	border:solid thin lightgrey;
}
.listedBeers{
	font-family: 'Raleway', sans-serif;
}
.listedBeers img{
	text-align:center;
}



